.country{
    border: 2px solid yellowgreen;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.country img{
    height: 200px;
    max-width: 400px;
}

.country button{
    margin-right: 20px;
}

.visited{
    background-color: khaki;
}